<!doctype html>
<html lang="en">
<head>
    @include('front.head')
</head>
<body>

@include('front.header')

@include('front.aside')

<section id="hero" class="inner about-us">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="text-holder">
                    <h1>About Us</h1>
                    <p>At Repay, we believe that every credit worthy individual with limited access to finance should be able to get consumer loans to actualize opportunities, create and grow their business, sponsor their own or a family member’s education or settle unexpected bills that show up when you least expect.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about-intro">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="mission-vision-values">
                    <aside>
                        <h4>Our Mission</h4>
                        <p>Our mission is to ensure that the basic needs of every hard working individual are met irrespective of time and such individual’s salary. By ensuring that micro-credit is available to people who have or don’t have a  credit history, we’re building a credit culture that allows for financial freedom for you.</p>

                    </aside>
                    <aside>
                        <h4>Our Vision</h4>
                        <p>Access to credit , however micro or macro, is great when optimally maximized. We want to ensure that through Repay.ng, you can become financially intelligent by being empowered to manage and account for your finances via a simplified and easy process. We will do this by providing seamless and timely financial solutions while leveraging on technology and psychometric analytics. With us you can succeed in your every endeavor by gaining easy access to timely and affordable funds</p>

                    </aside>
                    <aside>
                        <h4>Our Values</h4>
                        <p>Every individual has a valid plan that is crucial to the actualization and manifestation of the larger majority. You are an integral part of a much bigger whole and your input is very important. We value your ideas and believe that you should be able to attain them irrespective. This is why we are here.</p>

                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="our-team">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">Our Team</h1>
                <p class="section-intro">The Repay team is made up of experts and professionals in relevant fields of business with about 20 years professional experience between them. We are a conglomerate of friends and colleagues of similar and shared values, working to better the financial status of individuals one credit at a time.</p>
                <!--<div class="team-members">
                    <aside>
                        <figure class="avatar">
                            <img src="images/avatar.jpg" alt="">
                        </figure>
                        <h3 class="name">John Grisman</h3>
                        <h4 class="post">Founder</h4>
                        <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur</div>
                    </aside>
                    <aside>
                        <figure class="avatar">
                            <img src="public/images/avatar.jpg" alt="">
                        </figure>
                        <h3 class="name">John Grisman</h3>
                        <h4 class="post">Founder</h4>
                        <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur</div>
                    </aside>
                    <aside>
                        <figure class="avatar">
                            <img src="images/avatar.jpg" alt="">
                        </figure>
                        <h3 class="name">John Grisman</h3>
                        <h4 class="post">Founder</h4>
                        <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur</div>
                    </aside>
                    <aside>
                        <figure class="avatar">
                            <img src="images/avatar.jpg" alt="">
                        </figure>
                        <h3 class="name">John Grisman</h3>
                        <h4 class="post">Founder</h4>
                        <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur</div>
                    </aside>
                    <aside>
                        <figure class="avatar">
                            <img src="images/avatar.jpg" alt="">
                        </figure>
                        <h3 class="name">John Grisman</h3>
                        <h4 class="post">Founder</h4>
                        <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur</div>
                    </aside>
                    <aside>
                        <figure class="avatar">
                            <img src="images/avatar.jpg" alt="">
                        </figure>
                        <h3 class="name">John Grisman</h3>
                        <h4 class="post">Founder</h4>
                        <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur</div>
                    </aside>
                </div>-->
            </div>
        </div>
    </div>
</section>

<section id="our-recognition">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Our Recognition</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <ul>
                    <li><img src="images/digg-logo.svg" alt=""></li>
                    <li><img src="images/youtube-logo.svg" alt=""></li>
                    <li><img src="images/digg-logo.svg" alt=""></li>
                    <li><img src="images/ebay-logo.svg" alt=""></li>
                    <li><img src="images/youtube-logo.svg" alt=""></li>
                    <li><img src="images/ebay-logo.svg" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="join-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-8 col-xs-12">
                <h1>Join Our Team</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="#" class="get-started">Click here to apply</a>
            </div>
        </div>
    </div>
</section>

@include('front.footer')

<section id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">2018. Property of Repay Investments. All Rights Reserved</div>
            <div class="col-sm-6 col-xs-12">
                <ul>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Licence and Agreements</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>