<!doctype html>
<html lang="en">
<head>
    @include('front.head')
</head>
<body>

@include('front.header')

@include('front.aside')

<section id="hero" class="inner about-us">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="text-holder">
                    <h1>About Us</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about-intro">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="mission-vision-values">
                    <aside>
                        <h4>Our Mission</h4>
                        <p>Our mission is to ensure that the basic needs of the populace are met by ensuring that micro-credit is made available to anyone with or without a credit history or score who is credit worthy.</p>

                    </aside>
                    <aside>
                        <h4>Our Vision</h4>
                        <p>Access to credit however micro or macro is great when optimally maximized. We want to ensure that through Repay.ng, Nigerians become financially intelligent by being empowered to manage and account for their finances so that servicing credit facilities becomes a simplified and easy process. We will do this by providing seamless and timely financial solutions while leveraging on technology and psychometric analytics. We are here to ensure that Nigerians succeed in their  endeavours by providing timely and affordable funds</p>

                    </aside>
                    <aside>
                        <h4>Our Values</h4>
                        <p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="our-team">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">Our Team</h1>
                <p class="section-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="team-members">
                    <aside>
                        <figure class="avatar">
                            <img src="images/avatar.jpg" alt="">
                        </figure>
                        <h3 class="name">John Grisman</h3>
                        <h4 class="post">Founder</h4>
                        <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur</div>
                    </aside>
                    <aside>
                        <figure class="avatar">
                            <img src="public/images/avatar.jpg" alt="">
                        </figure>
                        <h3 class="name">John Grisman</h3>
                        <h4 class="post">Founder</h4>
                        <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur</div>
                    </aside>
                    <aside>
                        <figure class="avatar">
                            <img src="images/avatar.jpg" alt="">
                        </figure>
                        <h3 class="name">John Grisman</h3>
                        <h4 class="post">Founder</h4>
                        <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur</div>
                    </aside>
                    <aside>
                        <figure class="avatar">
                            <img src="images/avatar.jpg" alt="">
                        </figure>
                        <h3 class="name">John Grisman</h3>
                        <h4 class="post">Founder</h4>
                        <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur</div>
                    </aside>
                    <aside>
                        <figure class="avatar">
                            <img src="images/avatar.jpg" alt="">
                        </figure>
                        <h3 class="name">John Grisman</h3>
                        <h4 class="post">Founder</h4>
                        <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur</div>
                    </aside>
                    <aside>
                        <figure class="avatar">
                            <img src="images/avatar.jpg" alt="">
                        </figure>
                        <h3 class="name">John Grisman</h3>
                        <h4 class="post">Founder</h4>
                        <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur</div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="our-recognition">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Our Recognition</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <ul>
                    <li><img src="images/digg-logo.svg" alt=""></li>
                    <li><img src="images/youtube-logo.svg" alt=""></li>
                    <li><img src="images/digg-logo.svg" alt=""></li>
                    <li><img src="images/ebay-logo.svg" alt=""></li>
                    <li><img src="images/youtube-logo.svg" alt=""></li>
                    <li><img src="images/ebay-logo.svg" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="join-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-8 col-xs-12">
                <h1>Join Our Team</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="#" class="get-started">Click here to apply</a>
            </div>
        </div>
    </div>
</section>

@include('front.footer')

<section id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">2018. Property of Repay Investments. All Rights Reserved</div>
            <div class="col-sm-6 col-xs-12">
                <ul>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Licence and Agreements</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>