<!doctype html>
<html lang="en">
<head>
    @include('front.head')
</head>
<body>

@include('front.header')

@include('front.aside')
<section id="hero" class="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-6 col-xs-12">
                <h1>Get Loans.<br>Fast and Easy</h1>
                <p>Getting funds when you need them shouldn’t be so much trouble. Let’s help you skip unnecessary bureaucracy.</p>
                <a href="/register" class="get-started">Get Started</a>
            </div>
        </div>
    </div>
</section>

<section class="how-it-works">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">How it Works</h1>
                <div class="how-it-works-grid">
                    <aside>
                        <figure></figure>
                        <h3>Create an account</h3>
                        <p>This qualifies you for a loan and is as easy as a post on Instagram or Facebook.</p>
                    </aside>
                    <aside>
                        <figure></figure>
                        <h3>Set up your Repay account by entering your details. We treat your details with utmost confidentiality.</p>
                    </aside>
                    <aside>
                        <figure></figure>
                        <h3 class="tint">Get Credit Alert</h3>
                        <p>Just like that, your credit application is reviewed and a transfer is initiated to your account.</p>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features">
    <div class="container">
        <div class="row lets-help">
            <div class="col-md-5 col-sm-6 col-xs-12">
                <h1>Our Promise</h1>
                <p>Let’s help you get from where you are to where you want to go We know what it’s like to be short of options. But there’s no need to miss an opportunity or give up a memory. We are with you from matriculation to convocation; startup to organization; cocoon to butterfly; unsure to rest.</p>
            </div>
            <div class="col-sm-6 col-xs-12 pull-right graduate-holder">
                <figure class="">
                    <img src="images/graduate.jpg" alt="">
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">Why choose us?</h1>
                <div class="why-us">
                    <aside>
                        <div class="icon"><img src="images/hassle-free.svg"></div>
                        <div class="text">
                            <h3>Hassle Free</h3>
                            <p>We won’t stress you. No really, we won’t.</p>
                        </div>
                    </aside>
                    <aside>
                        <div class="icon"><img src="images/fast.svg"></div>
                        <div class="text">
                            <h3>Easy and Fast</h3>
                            <p>When unexpected needs arise, you can count on us to show up in time.</p>
                        </div>
                    </aside>
                    <aside>
                        <div class="icon"><img src="images/secure.svg"></div>
                        <div class="text">
                            <h3>Secure Loans</h3>
                            <p>All our loans are secure. Your details are safe with us.</p>
                        </div>
                    </aside>
                    <aside>
                        <div class="icon"><img src="images/convenient.svg"></div>
                        <div class="text">
                            <h3>Convenient</h3>
                            <p>With one click, you have reached us. You don’t need a trip to get a loan.</p>
                        </div>
                    </aside>
                    <aside>
                        <div class="icon"><img src="images/low-interest.svg"></div>
                        <div class="text">
                            <h3>Low Interest Rates</h3>
                            <p>Our Rates and Repayment cycle is very friendly. You’ll be pleased.</p>
                        </div>
                    </aside>
                    <aside>
                        <div class="icon"><img src="images/no-hidden-fees.svg"></div>
                        <div class="text">
                            <h3>No Hidden Fees</h3>
                            <p> Application is free!</p>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="statistics">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-8 col-xs-12">
                <h1>Our Statistics</h1>
                <p>In a short time that we’ve been here, we make bold to say that we have helped individuals and businesses in more ways than one. We are proud that our offerings have made impact in the areas of growth and expansion for businesses, transparent finance for start-ups and organizations to break new frontiers, sponsorship for academic tuition and more.</p>
                <div class="stats">
                    <aside>
                        <h2>100+</h2>
                        <p>Loan Applications</p>
                    </aside>
                    <aside>
                        <h2>25+</h2>
                        <p>Loans Approved</p>
                    </aside>
                    <aside>
                        <h2>25+</h2>
                        <p>Happy and Fulfilled Students</p>
                    </aside>
                </div>
                <a href="/register" class="get-started">Get Started</a>
            </div>
        </div>
    </div>
</section>

<section id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="testimonials-list">
                    <aside>
                        <figure>
                            <img src="images/anonymous.jpg">
                        </figure>
                        <div class="testimonial_text">
                            <h3 class="name">Anonymous</h3>
                            <h4 class="post">Law Graduate</h4>
                            <div class="details">I was in great need for my house rent and I had just gotten a new job. I was in great dilemma when my friend told me  about repay . She told me I did not have to give any collateral . In disbelief I called repay and spoke to a nice lady, after which I signed the necessary documents. The money was disbursed to me the next day.</div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sign-up">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Sign up for Free</h1>
                <p>Go ahead! We can’t wait to hear from you!</p>
                <a href="/register" class="get-started">Get Started</a>
            </div>
        </div>
    </div>
</section>

@include('front.footer')

<section id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">2018. Property of Repay Investments. All Rights Reserved</div>
            <div class="col-sm-6 col-xs-12">
                <ul>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Licence and Agreements</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>