<!doctype html>
<html lang="en">
<head>
    @include('front.head')
</head>
<body>

@include('front.header')

@include('front.aside')
<section id="hero" class="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-6 col-xs-12">
                <h1>Get Loans.<br>Fast and Easy</h1>
                <p>Getting funds when you need them shouldn’t be so much trouble. Let’s help you skip unnecessary bureaucracy.</p>
                <a href="/register" class="get-started">Get Started</a>
            </div>
        </div>
    </div>
</section>

<section class="how-it-works">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">How it Works</h1>
                <div class="how-it-works-grid">
                    <aside>
                        <figure></figure>
                        <h3>Create an account</h3>
                        <p>Creating an account gives you access to our loans and it will take about the same time you’d need to upload a post on social media.</p>
                    </aside>
                    <aside>
                        <figure></figure>
                        <h3>Apply for a Loan</h3>
                        <p>We believe that everyone who’s credit worthy can get access to loans easily. Go ahead, we are waiting to hear from you!</p>
                    </aside>
                    <aside>
                        <figure></figure>
                        <h3 class="tint">Get an Alert</h3>
                        <p>Once your account has been created and loan application reviewed, look into your phone. Credit alert is waiting for you.</p>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features">
    <div class="container">
        <div class="row lets-help">
            <div class="col-md-5 col-sm-6 col-xs-12">
                <h1>Let's help you get through college</h1>
                <p>At Repay, we believe that to transform the society, education is indispensable! We are with you from matriculation to convocation. So, what do you need today?</p>
            </div>
            <div class="col-sm-6 col-xs-12 pull-right graduate-holder">
                <figure class="">
                    <img src="images/graduate.jpg" alt="">
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">Why choose us?</h1>
                <div class="why-us">
                    <aside>
                        <div class="icon"><img src="images/hassle-free.svg"></div>
                        <div class="text">
                            <h3>Hassle Free</h3>
                            <p>We won’t stress you. No really, we won’t.</p>
                        </div>
                    </aside>
                    <aside>
                        <div class="icon"><img src="images/fast.svg"></div>
                        <div class="text">
                            <h3>Easy and Fast</h3>
                            <p>We are aiming to win World Records for fastest loan ever issued.</p>
                        </div>
                    </aside>
                    <aside>
                        <div class="icon"><img src="images/secure.svg"></div>
                        <div class="text">
                            <h3>Secure Loans</h3>
                            <p>All our loans are secure. Your details are safe with us.</p>
                        </div>
                    </aside>
                    <aside>
                        <div class="icon"><img src="images/convenient.svg"></div>
                        <div class="text">
                            <h3>Convenient</h3>
                            <p>You won’t have to make a trip to get funds when you need it. With one click, you have reached us.</p>
                        </div>
                    </aside>
                    <aside>
                        <div class="icon"><img src="images/low-interest.svg"></div>
                        <div class="text">
                            <h3>Low Interest Rates</h3>
                            <p>Your financial stability is important and we get it. This is why we offer rates that works for you.</p>
                        </div>
                    </aside>
                    <aside>
                        <div class="icon"><img src="images/no-hidden-fees.svg"></div>
                        <div class="text">
                            <h3>No Hidden Fees</h3>
                            <p> Application is free!</p>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="statistics">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-8 col-xs-12">
                <h1>Our Statistics</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="stats">
                    <aside>
                        <h2>12,000+</h2>
                        <p>Student Loan Applications</p>
                    </aside>
                    <aside>
                        <h2>12,000+</h2>
                        <p>Student Loans Approved</p>
                    </aside>
                    <aside>
                        <h2>12,000+</h2>
                        <p>Happy and Fulfilled Students</p>
                    </aside>
                </div>
                <a href="/register" class="get-started">Get Started</a>
            </div>
        </div>
    </div>
</section>

<section id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="testimonials-list">
                    <aside>
                        <figure>
                            <img src="images/anonymous.jpg">
                        </figure>
                        <div class="testimonial_text">
                            <h3 class="name">Anonymous</h3>
                            <h4 class="post">Law Graduate</h4>
                            <div class="details">I was in great need for my house rent and I had just gotten a new job. I was in great dilemma when my friend told me  about repay . She told me I did not have to give any collateral . In disbelief I called repay and spoke to a nice lady, after which I signed the necessary documents. The money was disbursed to me the next day.</div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sign-up">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Sign up for Free</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="/register" class="get-started">Get Started</a>
            </div>
        </div>
    </div>
</section>

@include('front.footer')

<section id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">2018. Property of Repay Investments. All Rights Reserved</div>
            <div class="col-sm-6 col-xs-12">
                <ul>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Licence and Agreements</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>