<!doctype html>
<html lang="en">
<head>
    @include('front.head')
</head>
<body>

@include('front.header')

@include('front.aside')
<section id="hero" class="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-6 col-xs-12">
                <h1>Get Loans.<br>Fast and Easy</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="#" class="get-started">Get Started</a>
            </div>
        </div>
    </div>
</section>

<section class="how-it-works">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">How it Works</h1>
                <div class="how-it-works-grid">
                    <aside>
                        <figure></figure>
                        <h3>Create an account</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </aside>
                    <aside>
                        <figure></figure>
                        <h3>Apply for a Loan</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </aside>
                    <aside>
                        <figure></figure>
                        <h3 class="tint">Get an Alert</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features">
    <div class="container">
        <div class="row lets-help">
            <div class="col-md-5 col-sm-6 col-xs-12">
                <h1>Let's help you get through college</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-sm-6 col-xs-12 pull-right graduate-holder">
                <figure class="">
                    <img src="images/graduate.jpg" alt="">
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">Why choose us?</h1>
                <div class="why-us">
                    <aside>
                        <div class="icon"><img src="images/hassle-free.svg"></div>
                        <div class="text">
                            <h3>Hassle Free</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </aside>
                    <aside>
                        <div class="icon"><img src="images/fast.svg"></div>
                        <div class="text">
                            <h3>Easy and Fast</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </aside>
                    <aside>
                        <div class="icon"><img src="images/secure.svg"></div>
                        <div class="text">
                            <h3>Secure Loans</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </aside>
                    <aside>
                        <div class="icon"><img src="images/convenient.svg"></div>
                        <div class="text">
                            <h3>Convenient</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </aside>
                    <aside>
                        <div class="icon"><img src="images/low-interest.svg"></div>
                        <div class="text">
                            <h3>Low Interest Rates</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </aside>
                    <aside>
                        <div class="icon"><img src="images/no-hidden-fees.svg"></div>
                        <div class="text">
                            <h3>No Hidden Fees</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="statistics">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-8 col-xs-12">
                <h1>Our Statistics</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="stats">
                    <aside>
                        <h2>12,000+</h2>
                        <p>Student Loan Applications</p>
                    </aside>
                    <aside>
                        <h2>12,000+</h2>
                        <p>Student Loans Approved</p>
                    </aside>
                    <aside>
                        <h2>12,000+</h2>
                        <p>Happy and Fulfilled Students</p>
                    </aside>
                </div>
                <a href="/register" class="get-started">Get Started</a>
            </div>
        </div>
    </div>
</section>

<section id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="testimonials-list">
                    <aside>
                        <figure>
                            <img src="images/avatar.jpg">
                        </figure>
                        <div class="testimonial_text">
                            <h3 class="name">John Grisman</h3>
                            <h4 class="post">Law Graduate</h4>
                            <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur</div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sign-up">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Sign up for Free</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="/register" class="get-started">Get Started</a>
            </div>
        </div>
    </div>
</section>

@include('front.footer')

<section id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">2018. Property of Repay Investments. All Rights Reserved</div>
            <div class="col-sm-6 col-xs-12">
                <ul>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Licence and Agreements</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>