<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
        <link rel="icon" type="image/jpg" sizes="96x96" href="../assets/img/repay.jpg">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <title>Repay NG - a micro-credit solution</title>

        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />
        
        <!-- Bootstrap core CSS     -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
        <!--  Theme core CSS    -->
        <link href="assets/css/theme.css" rel="stylesheet"/>
        <!--  Fonts and icons     -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
        <link href="assets/css/themify-icons.css" rel="stylesheet">
        <link href="assets/css/custom.css" rel="stylesheet" type="text/css" />
    </head>

    <body>    
        <section class="container-fluid">
                <div class="row bg-black">
                        <div class="col-sm-12">
                            <ul class="nav justify-content-end">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/about-us">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Tour</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/support">Support</a>
                                </li>
                                <li class="nav-item bg-indigo">
                                    <a class="nav-link"  href="{{ route('login') }}">Login</a>
                                </li>
                            </ul>
                        </div>
                    </div>
            <div class="row h-100">
                <div class="col-sm-5 bg-white h-100">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <form method="POST" action="/login" class="login" role="form" enctype="multipart/form-data">
                                
                                <ul class="nav nav-pills">
                                    <li class="active"><a class="fs-14 bold" href="{{ route('login') }}">Login</a></li>
                                    <li><a class="fs-14 text-muted bold" href="/register">Register</a></li>
                                </ul>
                                @if(old('message'))
                                    @!component('components.alert', type =old('type'), message=old('message'))
                                @endif
                                <br />
                                <div class="form-group m-t-10">
                                    <label class="bold">Username</label>
                                    <input type="text" name="email" id="username" class="form-control" placeholder="Enter your username .." required autofocus/>
                                    <i class="form-group__bar"></i>
                                    <span class="help-block text-danger">Username is required</span>
                                </div>
                                <div class="form-group">
                                    <label class="bold">Password</label>
                                    <input type="password" name="password" id="password" class="form-control" placeholder="Enter your account password" required />
                                    <i class="form-group__bar"></i>
                                    <span class="help-block text-danger">Password is required</span>
                                </div>
                                <div class="row m-t-40">
                                    <div class=" col-xs-12 col-sm-7 no-padding">
                                        <br />
                                        <a href="#" class="pull-left fs-14 text-muted">Forgot your credentals?</a>
                                    </div>
                                    <div class="col-xs-12 col-sm-5 no-padding" align="right">
                                        <button type="submit" class="btn-md btn btn-indigo fs-14">Login</button>
                                    </div>
                                </div>
                                <div class="login-footer" align="center">
                                    <h2><span>or Login with social</span></h2>
                                    <div class="btn-group">
                                        <button type="button" class="btn bg-indigo fs-14 btn-sm"><i class="fa fa-facebook fs-16"></i></button>
                                        <button type="button" class="btn bg-info btn-sm"><i class="fa fa-twitter fs-16"></i></button>
                                        <button type="button" class="btn bg-success fs-14 btn-sm"><i class="fa fa-linkedin fs-16"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 login-bg bg-dark hidden-xs bg-dark h-100">
                    <div class="container-fluid content">
                        <div class="row">
                            <div class="col-sm-7">
                                <h2 class="bold text-white">It's Easy and Free</h2>
                                <p class="fs-14 text-white">Open an account with us and apply for loans choosing from a variety of cards. Get extra points for referrals</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>

	<!--   Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js   -->
    {{ script('assets/js/jquery-3.1.1.min') }}
    {{ script('assets/js/jquery-ui.min') }}
    {{ script('assets/js/perfect-scrollbar.min') }}
    {{ script('assets/js/bootstrap.min') }}
	<!--  Forms Validations Plugin -->
    {{ script('assets/js/jquery.validate.min') }}
	<!-- Promise Library for SweetAlert2 working on IE -->
    {{ script('assets/js/es6-promise-auto.min') }}
	<!-- Paper Dashboard PRO Core javascript and methods for Demo purpose -->
    {{ script('assets/js/paper-dashboard') }}
	<!-- Paper Dashboard PRO DEMO methods, don't include it in your project! -->
    {{ script('assets/js/demo') }}

</html>
