<!doctype html>
<html lang="en">
<head>
    @include('front.head')
</head>
<body>

@include('front.header')

@include('front.aside')

<section id="hero" class="inner support">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="text-holder">
                    <h1>Repay Help Centre</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <form action="" class="search">
                        <input type="text" placeholder="Search topics">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="faqs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">FAQ Topics</h1>
                <p class="section-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="faq-list">
                    <aside>
                        <h3>FAQ Topics</h3>
                        <ul>
                            <li><a href="">Lorem consectetur adipiscing elit</a></li>
                            <li><a href="">Sed adipiscing elit</a></li>
                            <li><a href="">Radipiscing sed elit, Ipsum</a></li>
                        </ul>
                        <a href="#" class="show-all">Show all</a>
                    </aside>
                    <aside>
                        <h3>FAQ Topics</h3>
                        <ul>
                            <li><a href="">Incididunt ut labore Ipsum</a></li>
                            <li><a href="">Consectetur adipiscing elit, sed adipiscing elit</a></li>
                            <li><a href="">Lorem incididunt ut labore</a></li>
                        </ul>
                        <a href="#" class="show-all">Show all</a>
                    </aside>
                    <aside>
                        <h3>FAQ Topics</h3>
                        <ul>
                            <li><a href="">Lorem Ipsum</a></li>
                            <li><a href="">incididunt ut labore et dolore magna aliqua</a></li>
                            <li><a href="">Mumagna orem Ipsum</a></li>
                        </ul>
                        <a href="#" class="show-all">Show all</a>
                    </aside>
                    <aside>
                        <h3>FAQ Topics</h3>
                        <ul>
                            <li><a href="">Lorem Ipsum</a></li>
                            <li><a href="">Incididunt ut labore  Ipsum</a></li>
                            <li><a href="">Lorem Ipsum</a></li>
                        </ul>
                        <a href="#" class="show-all">Show all</a>
                    </aside>
                    <aside>
                        <h3>FAQ Topics</h3>
                        <ul>
                            <li><a href="">Lorem Ipsum</a></li>
                            <li><a href="">Runde omnis accusantium doloremque ipsum</a></li>
                            <li><a href="">Nam libero tempore, cum soluta</a></li>
                        </ul>
                        <a href="#" class="show-all">Show all</a>
                    </aside>
                    <aside>
                        <h3>FAQ Topics</h3>
                        <ul>
                            <li><a href="">Sed unde omnis accusantium doloremque</a></li>
                            <li><a href="">Lorem Ipsum</a></li>
                            <li><a href="">Nemo enim ipsam quia voluptas sit aspernatur</a></li>
                        </ul>
                        <a href="#" class="show-all">Show all</a>
                    </aside>
                    <aside>
                        <h3>FAQ Topics</h3>
                        <ul>
                            <li><a href="">Finibus et Malorum lorem Ipsum</a></li>
                            <li><a href="">Finibus Ipsum Bonorum</a></li>
                            <li><a href="">Lorem onorum et Malorum</a></li>
                        </ul>
                        <a href="#" class="show-all">Show all</a>
                    </aside>
                    <aside>
                        <h3>FAQ Topics</h3>
                        <ul>
                            <li><a href="">Sed unde omnis accusantium doloremque</a></li>
                            <li><a href="">Nam libero tempore, cum soluta est eligendi</a></li>
                            <li><a href="">Nemo enim ipsam quia voluptas sit aspernatur</a></li>
                        </ul>
                        <a href="#" class="show-all">Show all</a>
                    </aside>
                    <aside>
                        <h3>FAQ Topics</h3>
                        <ul>
                            <li><a href="">Lorem Ipsum</a></li>
                            <li><a href="">incididunt ut labore et dolore magna aliqua</a></li>
                            <li><a href="">Mumagna orem Ipsum</a></li>
                        </ul>
                        <a href="#" class="show-all">Show all</a>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact-info">
    <div class="container">
        <aside id="map"></aside>
        <div class="row">
            <div class="col-xs-12 contact-details">
                <aside class="text-details">
                    <h1 class="section-title">Contact Us</h1>
                    <p class="section-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <address>
                        <h5>Mobile</h5>
                        <p class="phone">
                            <span>+234 801 2345 678</span> | <span>+234 802 2974 521</span>
                        </p>
                    </address>
                    <address>
                        <h5>Office Address</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </address>
                    <address>
                        <h5>Email Address</h5>
                        <p>
                            customercare@repay.ng<br>
                            suggestions@repay.ng
                        </p>
                    </address>
                </aside>
            </div>
        </div>
    </div>
</section>

<script>
    function initMap() {
        var location = {lat: 6.644102, lng: 3.361938};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 19,
            center: location
        });
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
    }
</script>
<script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCpv9sEl4JT2sqqhQLLplRmiyZFGe-X_o&amp;callback=initMap"></script>

<section id="complaints">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">Make a request/complaint</h1>
                <form action="">
                    <input type="text" placeholder="Name">
                    <input type="email" placeholder="Email">
                    <input type="text" placeholder="Subject">
                    <textarea placeholder="Message"></textarea>
                    <button class="submit">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</section>

@include('front.footer')

<section id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">2018. Property of Repay Investments. All Rights Reserved</div>
            <div class="col-sm-6 col-xs-12">
                <ul>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Licence and Agreements</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>